body{
  font-family: sans-serif;
  background-color: #e7e7e7;
}

header{
  height: 60px;
}

.header-right{
  margin: 10px 25px;
  text-align: right;
  vertical-align: middle;
}

.login-description{
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.login-button{
  display: inline-block;
  padding: 10px 30px;
  background-color: #0077C5;
  border-radius: 4px;
}

.login-button a{
  color: white;
  text-decoration: none;
}

.login-button a:visited{
  color: white;
}

.main-container{
  width: 20vw;
  margin: 0 auto;
}

body a{
  text-decoration: none;
  color: #0077C5;
}

body a:visited{
  color: #0077C5;
}

body a:hover{
  text-decoration: underline;
}

.form{
  color: #404040;
  background-color: white;
  padding: 10px 0px;
  box-shadow: 0px 0px 3px gray;
  margin: 30px auto;
}

.form input{
  box-sizing: border-box;
  width: 100%;
}

.form-element{
  margin: 30px auto;
  width: 60%;
}

.precaution{
  margin: 30px auto;
  text-align: center;
  color: gray;
  font-style: italic;
  font-size: 12px;
}

.captcha-warning{
  margin: 30px auto;
  text-align: center;
  color: gray;
  font-size: 12px;
}

.description{
  text-align: center;
  margin: 20px 30px;;
}

.description h2{
  font-size: 22px;
  margin: 20px auto;
}

.description p{
  font-size: 13px;
}

#sign-up{
  padding: 15px 0px;
  color: white;
  background-color: #0077C5;
  box-shadow: 0px 1px gray;
  border-radius: 5px;
}
